
<div id="page-wrapper"  ng-controller="HostAddController">
<style type="text/css">
    .row input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

    .row input.ng-valid.ng-touched {
    background-color: #78FA89;
}
</style>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">添加主机</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <!--xxx-->
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" name="addhost">
                                        <div class="form-group">
                                            <label>Hostname(指定一个唯一的代号)</label>
                                            <input class="form-control" type="text" ng-model="host.Hostname" required ng-minlength="5">

                                            <label>IP(eg:192.168.1.1)</label>
                                            <input class="form-control" type="text" ng-model="host.Ip" ng-minlength="7" required>

                                            <label>Tcp_list(以逗号分割多个端口,eg: 22,23)</label>
                                            <input class="form-control" type="text" ng-model="host.Tcp_list" required>

                                            <label>Udp_list(以逗号分割多个端口,eg: 53,161)</label>
                                            <input class="form-control" type="text" ng-model="host.Udp_list">

                                            <p class="help-block"><pre>form = {{host | json}}</pre></p>
                                            <p class="help-block"><pre>master = {{master | json}}</pre></p>
                                        </div>
                                        <button type="submit" class="btn btn-default" ng-click="update(host)" ng-disable="addhost.$invalid">提交</button>
                                        <button type="reset" class="btn btn-default" ng-click="reset()">重置</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
</div>

<!-- /#page-wrapper -->